.header {
    display: flex;
    background-color: #b0b0b0;
    padding-bottom: 20px;
}

.personal img {
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

.personal .name { 
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3px;
}

.personal {
    display: flex;
    width: 50%;
    padding-left: 100px;
    padding-top: 20px;
}

.personal p {
    margin-top: -15px;
}
.navigation {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 15px;

}

.navigation a {
    display:flex;
    flex-direction: row;
    text-decoration: none;
    color: black;

}

a:hover {
    color:white;
}
